/* Define some base CSS variables */
:root {
    --mid-gray: 114, 117, 135;
    --primary: 112, 72, 232;
    --secondary: 41, 194, 102;
    --sidebar-width: 300px;
    --topbar-height: 64px;
}
/* Variables can be updated for the dark theme */
body[data-theme="dark"] {
    --secondary: 92, 221, 144;
}

/* Apply a background-color over the whole page to allow white/black cards to stand out on the background */
#react-entry-point {
    background-color: rgba(var(--mid-gray), 0.05);
}

/* Add some styling of Mantine modals, although not used in the appshell */
.mantine-Modal-modal {
    display: flex;
    flex-direction: column;
    padding: 0;
}
.mantine-Modal-header {
    background-color: rgba(var(--mid-gray), 0.1);
    border-bottom: 1px solid rgba(var(--mid-gray), 0.2);
    padding: 1rem;
    flex: 0 0 auto;
    margin: 0;
}
.mantine-Modal-body {
    flex: 1 1 auto;
    padding: 1rem;
    background-color: rgba(var(--mid-gray), 0.07);
}
.mantine-Modal-title {
    font-size: 1.1rem;
    align-items: center;
    gap: 0.5rem;
    display: flex;
    font-weight: 500;
}
.mantine-Modal-title span,
.mantine-Modal-title svg {
    color: rgb(var(--secondary));
}

#offers_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5rem;
}
@media(max-width: 1000px) {
    #offers_wrapper {
        grid-template-columns: 1fr 1fr;
    }
}
@media(max-width: 750px) {
    #offers_wrapper {
        grid-template-columns: 1fr;
    }
}

.mantine-Accordion-content {
    padding: 0;
}
.mantine-Accordion-contentInner {
    padding: 0.25rem 0 1rem 0.5rem;
}
.mantine-Tabs-list {
    position: sticky;
    top: 0;
    background: #F8F8F9;
    z-index: 10;
}
[data-mantine-color-scheme="dark"] .mantine-Tabs-list {
    background: #2B2B2F;
}

@media (min-width: 600px) {

    div:not(:hover)>.hover-visible {
        opacity: 0;
        transition: opacity 200ms ease 0s;
    }

    div:hover>.hover-visible {
        opacity: 1;
        transition: opacity 100ms ease 0s;
    }
}

[data-mantine-color-scheme="dark"] {
    .xtick text,
    .ytick text,
    .legend text,
    .g-xtitle text,
    .g-ytitle text {
        fill: #EEEEEE !important;
    }

    .scatter .textpoint text {
        fill: #CCCCCC !important;
    }

    .xgrid, .ygrid {
        stroke: #888888 !important
    }
}

[data-mantine-color-scheme="light"] {
    .xtick text,
    .ytick text,
    .legend text,
    .g-xtitle text,
    .g-ytitle text {
        fill: #333333 !important;
    }
    .scatter .textpoint text {
        fill: #555555 !important;
    }
    .hoverlayer .legend text {
        fill: #FFFFFF !important;
    }

    .xgrid, .ygrid {
        stroke: #AAAAAA !important
    }
}